@charset "utf-8";
.chat-room {
    width:400px;
    display: flex;
    flex: 1;
    padding: 10px 15px;
    flex-direction: column;
    height: 100vh;
  }
  
  .chat-room-header {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
  }
  
  .chat-room-name {
    font-weight: bold;
  }
  
  .chat-room-participants {
    color: gray;
  }
  
  .chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .message-right {
    align-items: flex-end;
  }
  
  .message-left {
    align-items: flex-start;
  }
  
  .message-sender {
    font-weight: bold;
  }
  
  .message-content {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    max-width: 40%;
  }
  
  .message-right .message-content {
    background-color: #d1eaff;
  }
  
  .message-unread {
    color: red;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }

  .chat-list {
    /* display: flex; */
    width: 100%;
    padding: 0px 10px;
    flex-direction: column;
  }
  
  .chat-item {
    /* display: flex; */
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .chat-item:hover {
    background-color: #f0f0f0;
  }
  .chat-item-info {
    /* display: flex; */
    flex-direction: column;
  }
  
  .chat-item-name {
    font-weight: bold;
  }
  
  .chat-item-participants {
    color: gray;
  }
  #app {
    display: flex;
  }
  
  .chat-list-container {
    padding: 5px 5px;
    width: 230px;
    border-right: 1px solid #ccc;
  }